<mat-grid-list cols="2" rowHeight="1:1">
 
    <mat-grid-tile id="2">
        <div class="login" style="width: 50%;">
            <h1 style="text-align: center;">LOGIN</h1>

        <mat-form-field appearance="outline" style="width: 100%; border: 5px;">
            <mat-label>Email</mat-label>
            <input matInput type="email" [(ngModel)]='email' placeholder="email" ngModel required>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline" style="width: 100%; border: 5px;">
            <mat-label>Password</mat-label>
        <input matInput type="password" [(ngModel)]='password' placeholder="password" ngModel required> 
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="login()" style="width: 100%;">Login</button>
        </div>
    </mat-grid-tile>
</mat-grid-list>
