<br>
<mat-card id="card" style="text-align: center;">

<mat-card-title style="padding-top: 15px; padding-bottom:20px;">SELAMAT DATANG</mat-card-title>
<mat-card-title style=" padding-bottom:30px;"> Silahkan melakukan presensi pulang</mat-card-title>
<mat-card-content>
    <button mat-raised-button style="height: 50px; margin-top: 70px; color: white; background-color:#007BFF;" (click)="dialogTambah(null)" >Work From Home</button><br>
    <button mat-raised-button style="height: 50px;; margin-top: 100px; margin-bottom: 100px; color:white; background-color:#FF0000" (click)="dialogTambah(null)">Work From Onsite</button>
</mat-card-content>
</mat-card>
