<mat-toolbar style="background: #FFC107; height: 80px">
    <img style="width: 70px; height: 60px;" src="./assets/lazizmu.png"> 
    <h2 flex style="padding-left: 20px;">Sistem Informasi Manajemen Kepegawaian</h2><br>
</mat-toolbar>
<br><br><br><br>
<body>
<mat-card id="card" style="text-align: center; width: 45%; height: 50%;">
    <br><br><br>
    <mat-card-title style="padding-top: 20px; padding-bottom:30px;">
		Lupa Password
	</mat-card-title>
    
    <mat-card-content>
        <mat-form-field appearance="outline" style="width: 70%; border: 5px;">
            <mat-label>Email</mat-label>
            <input matInput type="email" [(ngModel)]='email' placeholder="email" ngModel required>
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" (click)="forgot()" style="width: 70%; height: 50px; ">Submit</button><br><br>
</mat-card-content>
</mat-card>
</body>
